.diagram-container {
    overflow: visible;
    overflow-y: visible;
    overflow-x: visible;
  }
  
.diagram-container svg {
    overflow: visible;
    overflow-y: visible;
    overflow-x: visible;
}